## GROUPING & AGGREGATING DATA 

### 1. Average Number of Orders per User

### 2. Creating a Loyalty Flag for customers

### 3. Loyalty Flag Statistics

### 4. Classifying Spenders

### 5. Classifying frequent customers

In [83]:
## importing libraries & data 
import pandas as pd 
import numpy as np 
import os 

path = r'/Users/aahamoustafa/Desktop/Data Projects/Instacart Basket Analysis 11-2024'

ords_prods_merge =  pd.read_pickle(os.path.join(path,'02 Data', 'Prepared Data', 'ords_prods_latest.pkl'))

In [84]:
ords_prods_merge.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,Busiest_day,Busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid range Product,Regularly Busy,Average Orders
1,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid range Product,Regularly Busy,Average Orders
2,2539329,1,1,2,8,NaN,12427,3,0,Original Beef Jerky,23,19,4.4,both,Low range Product,Regularly Busy,Average Orders
3,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both,Low range Product,Regularly Busy,Average Orders
4,2539329,1,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low range Product,Regularly Busy,Average Orders

In [85]:
ords_prods_merge.shape

(32404859, 17)

## 1. Average Number of Orders Per user in each department

In [87]:
## getting the average orders per user from each department 

ords_prods_merge.groupby('department_id')['order_number'].mean()

department_id
1     15.457838
2     17.277920
3     17.170395
4     17.811403
5     15.215751
6     16.439806
7     17.225802
8     15.340650
9     15.895474
10    20.197148
11    16.170638
12    15.887671
13    16.583536
14    16.773669
15    16.165037
16    17.665606
17    15.694469
18    19.310397
19    17.177343
20    16.473447
21    22.902379
Name: order_number, dtype: float64

#### The averages have increased in almost all departments in comparison with the subset, which makes sense as we are aggregating more data

## 2. Creating a Loyalty Flag For Customers

In [ ]:
## First creating a max order column for each user 

ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [91]:
## creating loyalty flag column
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [92]:
## checking counts of loyalty flag
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

## 3. Product Prices purchased for each loyalty category

In [94]:
# Calculate average spending per customer
avg_spending_per_customer = ords_prods_merge.groupby(['user_id', 'loyalty_flag'])['prices'].mean().reset_index()

# Group by loyalty_flag to compare basic spending statistics 
avg_spending_per_customer.groupby('loyalty_flag')['prices'].describe()

,count,mean,std,min,25%,50%,75%,max
loyalty_flag,,,,,,,,
Loyal customer,17017.0,10.727438,74.742936,2.387671,7.347756,7.802725,8.237792,8794.882427
New customer,112328.0,13.092311,158.659130,1.000000,7.153217,7.792857,8.416077,25005.425000
Regular customer,76864.0,12.162837,75.197741,1.308333,7.294335,7.809193,8.299128,4506.269204

## 4. Targeting different types of spenders

#### 1. First we will create the new column average_price using transform()

In [98]:
## First creating a new average price column 

ords_prods_merge['average_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform('mean')

In [99]:
## creating a spending flag

ords_prods_merge.loc[ords_prods_merge['average_price'] < 10, 'spending_flag'] = 'Low spender'
ords_prods_merge.loc[(ords_prods_merge['average_price'] >= 10) , 'spending_flag'] = 'High Spender'
ords_prods_merge['spending_flag'].value_counts(dropna = False)

spending_flag
Low spender     31770614
High Spender      634245
Name: count, dtype: int64

#### 2. We can also summarize further by grouping by each user and we should get 206209 as the total output corresponding to each user.

In [101]:
user_avg_spending = ords_prods_merge.groupby('user_id')['prices'].mean().reset_index()

user_avg_spending['spending_flag'] = np.where(
    user_avg_spending['prices'] < 10, 'Low Spender', 'High Spender'
) ## alternative way of creating spending flag 

user_spending_flag_counts = user_avg_spending['spending_flag'].value_counts()
print(user_spending_flag_counts)

spending_flag
Low Spender     200852
High Spender      5357
Name: count, dtype: int64

## 5. Finding Frequent vs Non-Frequent Users for Notification Purposes

In [103]:
## First creating a new average price column 

ords_prods_merge['median_days_since_prior_order'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform('median')

In [112]:
## creating a frequency flag
ords_prods_merge.loc[ords_prods_merge['median_days_since_prior_order'] <= 10, 'freq_flag'] = 'Frequent Customer'
ords_prods_merge.loc[(ords_prods_merge['median_days_since_prior_order'] > 10) & (ords_prods_merge['median_days_since_prior_order'] <= 20) , 'freq_flag'] = 'Normal Customer'
ords_prods_merge.loc[ords_prods_merge['median_days_since_prior_order'] > 20, 'freq_flag'] = 'Non-frequent customer'

ords_prods_merge[['user_id', 'median_days_since_prior_order', 'freq_flag']].head()

   user_id  median_days_since_prior_order              freq_flag
0        1                           20.5  Non-frequent customer
1        1                           20.5  Non-frequent customer
2        1                           20.5  Non-frequent customer
3        1                           20.5  Non-frequent customer
4        1                           20.5  Non-frequent customer

### Exporting Data

In [116]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_aggregations.pkl'))